body {
    font: normal 10pt 'Segoe UI';
}

body, textarea {
    background-color: lightgray;
    color: black;
}

table {
    border-collapse: collapse;
    border: 1px solid lightgray;
}

td, th {
    border: 1px solid lightgray;
    padding: 3px 7px;
}

tr:nth-child(even) {
    background-color: #eee;
}

.testReport td {
    white-space: pre-wrap;
}

.testReport th {
    background-color: #e8abab;
}

.testSuccessful td {
    background-color: #d4e8d3;
}

.testFailed td {
    background-color: #f4c9c5;
}

pre {
    margin: 0;
}

.efektCode, pre {
    font: bold 10pt Consolas, sans-serif;
}

.efektKey {
    color: #af0009;
}

.efektIdent {
    color: #2930af;
}

.efektType {
    color: #008f24;
}

.efektMarkup {
    color: #5d5d5d;
}

.efektComment {
    color: #9c9c9c;
}

.efektText {
    color: #d57300;
}

.efektNum {
    color: #528ee2;
}

.efektOp {
    color: #000000;
}

#codeInput, #codeScratchpad {
    width: 400px;
    height: 200px;
}

#codeView, #astView {
    display: table-cell;
    margin: 5px;
    padding: 5px;
}

#codeView {
    float: left;
}

#astView {
    border-left: 1px solid lightgray;
    float: left;
}