/* { border: 1px solid red; }*/

html {
    min-height: 100%;
    position: relative
}

body, button {
    font: normal 10pt 'Trebuchet MS';
}

body {
    cursor: default;
    margin: 0;
    height: 100%
}

body, textarea, div {
    background-color: #eee;
    color: black;
}

table {
    border-collapse: collapse;
    border: 1px solid #b9b9b9;
}

/* tests ========================================= */

.testReport tr:nth-child(even) {
    background-color: #eee;
}

.testReport td, .testReport th {
    border: 1px solid lightgray;
    padding: 3px 7px
}

.testReport td {
    white-space: pre-wrap;
}

.testReport th {
    background-color: #e8abab;
}

.testSuccessful td {
    background-color: #d4e8d3;
}

.testFailed td {
    background-color: #f4c9c5;
}

/* views  ========================================= */

pre {
    margin: 0;
    padding: 0;
}

#codeEdit {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

#mainView {
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#mainView label {
    background-color: dimgray;
    color: lightgray;
    padding: 1px 10px;
}

.view:first-child {
    width: 15%;
}

.view {
    width: 25%;
    height: 100%;
    float: left;
    background-color: #bbb;
}

.view:last-child {
    width: 35%;
}

.viewInner {
    margin-left: 1px;
    height: 100%;
    overflow: auto;
}

.viewInner.first {
    margin-left: 0;
}

.viewInner .noScroll {
    overflow: hidden;
}

.viewInner:first-child {
    border: none;
}

/* toolbar  ========================================= */

.toolbar {
    background-color: #666;
    height: 25px;
    padding-top: 8px;
    padding-left: 3px;
}

.toolbar > a {
    padding: 3px 8px;
    background-color: #5b5b5b;
    color: #adadad;
    border: 1px solid #4f4f4f;
    margin-left: 2px;
    margin-top: 2px;
}

.toolbar > a:hover {
    background-color: #717171;
    border: 1px solid #585858;
    color: white;
}

.toolbar > a:active {
    background-color: #565656;
    border: 1px solid #3e3e3e;
    position: relative;
    top: 1px;
    left: 1px;
    color: #8f8f8f;
}

/* log ========================================= */

.logItem {
    background-color: gray;
    border: 0;
    border-top: 1px solid #888;
    border-bottom: 1px solid #777;
    color: white;
    padding: 5px;
}

.logItem span:first-child {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    margin-bottom: -4px;
}

.logItem span:last-child {
    padding-left: 20px;
    display: inline-block;
    margin-top: -20px;
}

.logItem .fatal {
    background-image: url('images/fatal.png');
}

.logItem .error {
    background-image: url('images/error.png');
}

.logItem .warn {
    background-image: url('images/warn.png');
}

.logItem .suggest {
    background-image: url('images/suggest.png');
}

.logItem .info {
    background-image: url('images/info.png');
}

.logItem .notice {
    background-image: url('images/notice.png');
}

/* code ========================================= */

.efektCode, pre, textarea {
    font: bold 10pt Consolas, sans-serif;
}

.efektKey {
    color: #af0009;
}

.efektIdent {
    color: #2930af;
}

.efektType {
    color: #008f24;
}

.efektAttr {
    color: #db49ca;
}

.efektMarkup {
    color: #5d5d5d;
}

.efektComment {
    color: #9c9c9c;
}

.efektText {
    color: #d57300;
}

.efektNum {
    color: #528ee2;
}

.efektOp {
    color: #000000;
}

/* usages ========================================= */

.usageRead {
    background-color: yellow;
}

.usageDeclr {
    background-color: limegreen;
}

.usageWrite {
    background-color: orange;
}

.usageBuiltin {
    background-color: lightsteelblue;
}

.usageUndefined {
    background-color: lightpink;
}

.sc_0__ {
    border-bottom: 1px dotted red;
}

/* other ========================================= */
