
body, textarea, div {
    background-color: #eee;
    color: black;
}

table {
    border-color: #b9b9b9;
}

/* tests ========================================= */

.testReport tr:nth-child(even) {
    background-color: #eee;
}

.testReport td, .testReport th {
    border-color: lightgray;
}

.testReport th {
    background-color: #e8abab;
}

.testSuccessful td {
    background-color: #d4e8d3;
}

.testFailed td {
    background-color: #f4c9c5;
}

/* views  ========================================= */

#mainView label {
    background-color: dimgray;
    color: lightgray;
}

.view {
    background-color: #bbb;
}

/* toolbar  ========================================= */

.toolbar {
    background-color: #666;
}

.toolbar > a {
    background-color: #5b5b5b;
    border-color: #4f4f4f;
    color: #adadad;
}

.toolbar > a:hover {
    background-color: #717171;
    border-color: #585858;
    color: white;
}

.toolbar > a:active {
    background-color: #565656;
    border-color: #3e3e3e;
    color: #8f8f8f;
}

/* log ========================================= */

.logItem {
    background-color: gray;
    color: white;
    border-top-color: #888;
    border-bottom-color: #777;
}

/* code ========================================= */

.efektCode, pre, textarea {
    font: bold 10pt Consolas, sans-serif;
}
.view {
    background-color: #bbb;
}

.efektKey {
    color: #af0009;
}

.efektIdent {
    color: #2930af;
}

.efektType {
    color: #008f24;
}

.efektAttr {
    color: #db49ca;
}

.efektMarkup {
    color: #5d5d5d;
}

.efektComment {
    color: #9c9c9c;
}

.efektText {
    color: #d57300;
}

.efektNum {
    color: #528ee2;
}

.efektOp {
    color: #000000;
}

/* usages ========================================= */

.usageRead {
    background-color: yellow;
}

.usageDeclr {
    background-color: limegreen;
}

.usageWrite {
    background-color: orange;
}

.usageBuiltin {
    background-color: lightsteelblue;
}

.usageUndefined {
    background-color: lightpink;
}

.sc_0__ {
    border-bottom: 1px dotted red;
}
